*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #24436D;
  color: #FEFEFE;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

#navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


#tournament-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.content-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
